<div class="row">
    <div class="row text-center m-0 p-0">
        <p>Spin the spinner</p>
    </div>
    <div class="row d-flex m-0 p-0 align-content-end">
        <div class="text-center">
            <button type="button" class="btn btn-primary" @onclick="@(() => OpenSpinner("Static Spinner", true))">
                Open Static Demo
            </button>
            <button type="button" class="btn btn-primary" @onclick="@(() => OpenSpinner("Dismissable Spinner", false))">
                Open Dismissable Spinner
            </button>
        </div>
    </div>
</div>