$white: #F8F9FA;

$black: (
    50 : #e4e5e5,
    100 : #bcbebf,
    200 : #909294,
    300 : #646669,
    400 : #424649,
    500 : #212529,
    600 : #1d2124,
    700 : #181b1f,
    800 : #141619,
    900 : #0b0d0f,
    A100 : #55aaff,
    A200 : #2290ff,
    A400 : #0077ee,
    A700 : #006ad4,
);

$darkBlue: ( 
    50 : #e4e7ee,
    100 : #bbc4d4,
    200 : #8d9db7,
    300 : #5f769a,
    400 : #3d5885,
    500 : #1b3b6f,
    600 : #183567,
    700 : #142d5c,
    800 : #102652,
    900 : #081940,
    A100 : #7798ff,
    A200 : #4471ff,
    A400 : #114aff,
    A700 : #003bf6,
);

$bootstrapBlue: ( 
    50 : #e2eeff,
    100 : #b6d4fe,
    200 : #86b7fe,
    300 : #569afe,
    400 : #3184fd,
    500 : #0d6efd,
    600 : #0b66fd,
    700 : #095bfc,
    800 : #0751fc,
    900 : #033ffc,
    A100 : #ffffff,
    A200 : #eff2ff,
    A400 : #bcc8ff,
    A700 : #a2b4ff,
);

$lightBlue: ( 
    50 : #e2f9fd,
    100 : #b6effb,
    200 : #86e5f8,
    300 : #56daf5,
    400 : #31d2f2,
    500 : #0dcaf0,
    600 : #0bc5ee,
    700 : #09bdec,
    800 : #07b7e9,
    900 : #03abe5,
    A100 : #ffffff,
    A200 : #d9f4ff,
    A400 : #a6e5ff,
    A700 : #8cdeff,
);

$gray: ( 
    50 : #edeeef,
    100 : #d3d6d8,
    200 : #b6babe,
    300 : #989ea4,
    400 : #828a91,
    500 : #6c757d,
    600 : #646d75,
    700 : #59626a,
    800 : #4f5860,
    900 : #3d454d,
    A100 : #a9d3fd,
    A200 : #77b9fc,
    A400 : #41a0ff,
    A700 : #2793ff,
);
$purple: ( 
    50 : #eee4ed,
    100 : #d4bbd1,
    200 : #b78db2,
    300 : #9a5f93,
    400 : #853d7c,
    500 : #6f1b65,
    600 : #67185d,
    700 : #5c1453,
    800 : #521049,
    900 : #400837,
    A100 : #ff77e7,
    A200 : #ff44de,
    A400 : #ff11d6,
    A700 : #f600cc,
);

$orange: (
    50 : #fdece6,
    100 : #fbd1c1,
    200 : #f9b298,
    300 : #f6936e,
    400 : #f47b4f,
    500 : #f26430,
    600 : #f05c2b,
    700 : #ee5224,
    800 : #ec481e,
    900 : #e83613,
    A100 : #ffffff,
    A200 : #ffe7e4,
    A400 : #ffbbb1,
    A700 : #ffa597
);

$yellow: ( 
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
);

$red: ( 
    50 : #fbe7e9,
    100 : #f5c2c7,
    200 : #ee9aa2,
    300 : #e7727d,
    400 : #e15361,
    500 : #dc3545,
    600 : #d8303e,
    700 : #d32836,
    800 : #ce222e,
    900 : #c5161f,
    A100 : #fff6f7,
    A200 : #ffc3c6,
    A400 : #ff9095,
    A700 : #ff777c,
);

$green: ( 
    50 : #e3f1ea,
    100 : #badbcc,
    200 : #8cc3aa,
    300 : #5eab87,
    400 : #3c996e,
    500 : #198754,
    600 : #167f4d,
    700 : #127443,
    800 : #0e6a3a,
    900 : #085729,
    A100 : #8bffb5,
    A200 : #58ff94,
    A400 : #25ff74,
    A700 : #0bff63,
);
