<div class="row justify-content-center align-content-center">
    <div id="alertContainer">
        @foreach (var message in Alerts)
        {
                <Alert Message="message" Id="@(Alerts.IndexOf(message).ToString())"></Alert>
        }
    </div>
</div>
