@inherits LayoutComponentBase
<div class="container-fluid min-vh-100 d-flex flex-column px-0" @onload="GetPageDeminsions">
    <div class="row">
        <div class="col">
            <header>
                <NavMenu></NavMenu>
            </header>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-md-2">
            <LeftSideBar></LeftSideBar>
        </div>
        <div class="col-md-8 mainBodyContainer mt-5 mb-5 ps-0 pe-0" >
            <div class="row align-items-center justify-content-center">
                <div class="mainBody">
                    @Body
                    <NotificationContainer></NotificationContainer>
                    <AlertContainer></AlertContainer>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <RightSideBar></RightSideBar>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <footer>
                <Footer></Footer>
            </footer>
        </div>
    </div>
</div>
