@import '../_theme.scss';

.mainBodyContainer {
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainBody{
    height: 100%;
    width: 100%;
}

//Scrollbar customization
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $mmWhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $mmBlack;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $mmBlack;
}
