<nav class="navbar navbar-expand-sm navbar-dark mm-bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link active" href="/users">User</NavLink>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <NavLink class="dropdown-item text-dark" href="#">Action</NavLink>
                            <NavLink class="dropdown-item text-dark" href="#">Another action</NavLink>
                            <NavLink class="dropdown-item text-dark" href="#">Something else here</NavLink>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
