<div id="notificationContainer">
    <div class="toast-container ps-2 pe-2">
        <div id="notifications" class="row align-content-start justify-content-start flex-column-reverse">
        @foreach (var message in Notifications)
        {
            if (message.State != MessageState.isHidden || message.State != MessageState.isDismissed)
            {
                <Notification Id="@Notifications.IndexOf(message).ToString()" Message="message" MessageDismissed="purgeOldNotifications"></Notification>
            }
        }
        </div>
    </div>
</div>