<div id="sideBarContainer" class="row align-items-center">
    <div class="col-1">
        <button @onclick="ToggleVisibility" id="toggleButton" class="btn btn-primary rounded-circle">&lt;</button>
    </div>
    <div id="rightSideBar" class="col border border-2 border-dark">
        <h3>RightSideBar</h3>
    </div>
</div>
