@if (!Message.IsDismissed)
{
    <div class="@(Message.IsVisible ? "showAlert" : "dismissAlert")">
        <div id="alert@(Id)" class="alert alert-dismissible show fade  @(SetBackgroundColor())" role="alert">
            @Message.Text
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="deleteMessage" aria-label="Close"></button>
        </div>
    </div>
}

