<div class="h1">Colors</div>
<div class="row m-auto">
    <div id="color1" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color2" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color3" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color4" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color5" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color6" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color7" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color8" class="col colorSwatch me-1">
        Color Name
    </div>
    <div id="color9" class="col colorSwatch me-1">
        Color Name
    </div>
</div>
