@import '../_theme.scss';

.colorSwatch {
    height: 250px;
}

#color1 {
    background-color: $mmBlack;
}

#color2 {
    background-color: $mmGray;
}

#color3 {
    background-color: $mmWhite;
}

#color4 {
    background-color: $mmRed;
}

#color5 {
    background-color: $mmGreen;
}

#color6 {
    background-color: $mmBlue;
}

#color7 {
    background-color: $mmYellow;
}

#color8 {
    background-color: $mmOrange;
}

#color9 {
    background-color: $mmPurple;
}
