<div @attributes="atributes" class="modal fade hide" id="@Id" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border" style="width: 5rem; height: 5rem; font-size:x-large; color:#1e1e24" role="status"></div>
                <div class="h5">@Message</div>
            </div>
        </div>
    </div>
</div>