<div id="@(Id)" class="@(animationClass)">
    <div role="alert" class="alert alert-dismissible @(getBackgroundClass())">
        @Message.Text
        <button @onclick="hideMessage" type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>