<div class="row justify-content-center align-content-center">
    <div id="alertContainer">
        @foreach (var message in Alerts)
        {
            <Alert Message="message"></Alert>
        }
    </div>
</div>
