//coolors.co
/*$mmRed: #F71435; //Imperial Red*/
/*$mmBlack: #01070e; //Rich Black*/
/*$mmBlue: #064789; //Polynesian Blue*/
/*$mmBlue: #009DDC; //Celestial Blue*/
/*$mmBlue: #064789; //Polynesian Blue*/
$mmBlack: #1e1e24; //Rasin Black
$mmWhite: #e1e9f1; //Alice Blue
$mmOrange: #F26430; //Giants Orange
$mmYellow: #DBA507; //Goldenrod
$mmRed: #DD1130; // Rojo
$mmBlue: #0072bb; //French Blue
$mmGreen: #1AAE1A; //Kelly Green
$mmGray: #e6e6e6; //Platinum
$mmPurple: #5b1144; //Tyrian Purple

.mm-bg-dark {
    background-color: $mmBlack;
}

.mm-bg-gray{
    background-color: $mmGray;
}

.mm-bg-light {
    background-color: $mmWhite;
}

.mm-bg-success {
    background-color: $mmGreen;
}

.mm-bg-warning {
    background-color: $mmYellow;
}

.mm-bg-danger {
    background-color: $mmRed;
}

.mm-bg-primary {
    background-color: $mmBlue;
}

.mm-bg-secondary {
    background-color: $mmOrange;
}

.mm-bg-accent {
    background-color: $mmPurple;
}

.mm-text-dark {
    color: $mmBlack;
}

.mm-text-gray {
    color: $mmGray;
}

.mm-text-light {
    color: $mmWhite;
}

.mm-text-success {
    color: $mmGreen;
}

.mm-text-warning {
    color: $mmYellow;
}

.mm-text-danger {
    color: $mmRed;
}

.mm-text-primary {
    color: $mmBlue;
}

.mm-text-secondary {
    color: $mmOrange;
}

.mm-text-accent {
    color: $mmPurple;
}


.mm-border-dark {
    border-color: $mmBlack;
}

.mm-border-gray {
    border-color: $mmGray;
}

.mm-border-light {
    border-color: $mmWhite;
}

.mm-border-success {
    border-color: $mmGreen;
}

.mm-border-warning {
    border-color: $mmYellow;
}

.mm-border-danger {
    border-color: $mmRed;
}

.mm-border-primary {
    border-color: $mmBlue;
}

.mm-border-secondary {
    border-color: $mmOrange;
}

.mm-border-accent {
    border-color: $mmPurple;
}

.mm-alert-success {
    background-color: rgba($mmGreen, .5);
}

.mm-alert-warning {
    background-color: rgba($mmYellow, .3);
}

.mm-alert-error {
    background-color: rgba($mmRed, .3);
    color: $mmBlack;
}

